/*
Variables for uniform values
*/
:root{
    --back-color: #1e272e;
    --foreground-color: #28333d;
    --dark-accent: #232c34;

    --alternative-purple: #cc4cdb;

    --shadow: 0px 0px 5px 1px rgba(0,0,0, 0.20);
}

/*
Body and background
*/
body{
    background-color: var(--back-color)!important;
    color: white!important;
}

/*
Sidebar
*/
.sidebar aside .ui.borderless.vertical.navigation.menu{
    background-color: var(--back-color)!important
}
.ui.header{
    color: white!important
}
.sidebar aside .ui.vertical.menu .item a,
.sidebar aside .ui.vertical.menu .item a:active,
.sidebar aside .ui.vertical.menu .item a:hover,
.sidebar aside .ui.vertical.menu .item a:visited{
    color: white!important
}
.sidebar aside{
    border-right: 1px solid var(--foreground-color)!important
}

/*
cards and segments
*/

.stream .ui.card.flat,
.ui.raised.card,
.forum .card.flat,
.forum .ui.segment,
.ui.segment.create,
.forum .categories .catlabel{
    box-shadow: var(--shadow)!important;
    border-radius: 7px;
}

.ui.segment, .ui.segments .segment,
.ui.raised.card, .ui.raised.cards > .card{
    background-color: var(--foreground-color)!important
}
.ui.card .meta, .ui.cards>.card .meta,
.ui.card .meta *, .ui.cards>.card .meta *{
    color: white!important;
}
.ui.card, .ui.cards > .card {
    box-shadow: var(--shadow)!important;
    background-color: var(--foreground-color)!important;
}

/*
Links, lists and buttons with purple color
*/
.link, .link a,
.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover,
.ui.secondary.pointing.menu .active.item span,
.ui.secondary.pointing.menu .active.item:hover span,
.sidebar aside .iconnavi,
.profile .profile.info.leftpanel .profilicon,
.stream .ui.card.story .content.text .storybuttons button,
.purple,
.ui.breadcrumb a,
.ui.purple.header,
i.purple.icon,
.navigationmobil i
{
    color: var(--alternative-purple)!important
}

.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu,
.active.item:hover{
    border-color: var(--alternative-purple)!important
}

.ui.secondary.pointing.menu a.active,
.ui.secondary.pointing.menu a.active:hover{
    border-color: var(--alternative-purple)!important
}

/*
White font
*/

i.grey.icon,
.ui.secondary.pointing.menu .item span,
.heartwrapper .heartcount,
.ui.comments .comment .metadata,
.ui.comments .comment .text,
.ui.card>.content>.header, .ui.cards>.card>.content>.header,
.ui.header .sub.header,
.ui.list .list>.item .header, .ui.list>.item .header,
.ui.list .list>.item .description, .ui.list>.item .description,
.forum .list .header a,
.forum .list .content .meta,
.ui.items>.item .meta>a:not(.ui),
.forum.post .heading .content .metadata,
.ui.menu .ui.dropdown .menu>.item>span,
.ui.menu .ui.dropdown .menu>.item,
.forum .commentcount span,
.forum .commentcount i.icon,
.item,
.ui.horizontal.bulleted.list>.item:before,
ul.ui.horizontal.bulleted.list li:before,
.ui.form .field>label,
.ui.small.modal>.header:not(.ui)>span,
.ui.form .field>.selection.dropdown>.dropdown.icon,
.pointer, .extra, .description,
.ui.icon.message>.content,
.ui.modal > .header:not(.ui) > span,
.ui.toggle.checkbox input:checked~.box, .ui.toggle.checkbox input:checked~label,
.ui.breadcrumb .divider,
.ui.menu .ui.dropdown .menu>.item>i,
.ui.feed>.event>.content .summary,
.ui.card>.extra,
.ui.cards>.card>.extra,
.ui.feed>.event>.content .date,
.messenger .wrapper .messenger-header .username,
.pinboard .column a,
.ui.back.grey.button, .ui.back.grey.buttons .button,
.messenger .wrapper .right-wrapper .right-inner .content-wrapper .content-inner .messenger-scroll .messenger-scroll-inner .itemdivider .ui.divider,
.ui.checkbox input.hidden+label,
.messenger-mobile .wrapper .right-inner .content-wrapper .content-inner .messenger-scroll .messenger-scroll-inner .itemdivider .ui.divider,
.ui.comments .commentsDisabled,
.username,
.threadtitle,
.author,
.ui.dropdown>.text,
.ui.dropdown .menu>.header,
.forum .lastedit,
.forum.post blockquote p
{
    color: white!important
}

/*
Forms and inputs
*/
.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.formtextarea{
    background: var(--dark-accent)!important;
}

.profile .profile.info.rightpanel{
    background: var(--dark-accent)!important;
}

/*
Flash icon in forum
*/
.forum i.lightning.icon{
    color: #ffd32a!important
}

.forum .categories .catlabel {
    color: white!important;
    background-color: var(--foreground-color);
}

.ui.vertical.segment.footer{
    background-color: rgba(0,0,0,0)!important;
     color: white!important
}
.ui.form textarea{
    background-color: var(--dark-accent)!important;
     color: white!important
}

/*
Accent color
*/
.ui.selection.dropdown,
.ui.dropdown .menu,
.ui.top.pointing.dropdown>.left.menu:after,
.ui.top.right.pointing.dropdown>.menu:after,
.profile .profile.info.rightpanel.ui.tertiary.attached.segment:not(:first-child),
blockquote
{
    background-color: var(--dark-accent)!important
}

/*
Back color
*/
.messenger .wrapper .left-wrapper,
.messenger .wrapper .right-wrapper .right-inner,
.messenger .wrapper .right-wrapper .right-inner .content-wrapper .content-inner .scroll-visible > .messenger-scroll-inner,
.messenger-mobile.fullheight,
.messenger-scroll-inner,
.ui.modal>.content,
.ui.inverted.dimmer
{
    background-color: var(--back-color)!important;
}

/*
Foreground color
*/
.messenger .wrapper .right-wrapper .right-inner .tools,
.ui.bottombar.menu .item,
.ui.bottombar.menu,
.messenger-mobile .wrapper .messenger-header,
.ui.placeholder,
.extra .description,
.ui.icon.message,
.description,
.comment.active,
.messenger-mobile .wrapper .right-inner .content-wrapper .content-inner .messenger-scroll .messenger-scroll-inner .ui.items .item.he .description,
.tools
{
    background-color: var(--foreground-color)!important
}

/*
Shadow for long text expand in card
*/
.home .stream .content.text .truncate .layer {
	background-image: linear-gradient(#00000000, var(--foreground-color)) !important;
}
.stream .description.truncate .layer {
    background-image: linear-gradient(transparent, var(--foreground-color)) !important;
}

/*
Other required stuff
*/
.placeholder.box {
	background-image: linear-gradient(to bottom, var(--foreground-color) 0%, var(--foreground-color) 100%) !important;
}
.ui.selection.visible.dropdown>.text:not(.default) {
	color: lightgrey !important;
}
.ui.input>input{
    color: white!important;
    background-color: var(--foreground-color)!important
}

.activitymodal .ui.feed.activity > .event.new{
    background-color: rgba(130,130,140,0.2)!important
}

/*
Pagination
*/
.ui.pagination.menu {
	background: var(--back-color) !important;
	border: 1px solid var(--foreground-color) !important;
	box-shadow: var(--shadow) !important;
}
.ui.pagination.menu .item {
	background-color: var(--foreground-color) !important;
}
.ui.pagination.menu .active.item {
	background-color: var(--dark-accent) !important;
}

/*
Improve colors on profiles and groups sidebar boxes
*/
.profile .profile.info.rightpanel.ui.tertiary.attached.segment:not(:first-child){
    border: none!important;
}
.rightpanel .ui.header small {
    color: lightgray !important;
}

/*
White color on mobile (for modal close icon)
*/
@media only screen and (max-width: 991px) {
	.ui.modal>.close {
		color: white !important;
	}
}

/*
Important text on mobile buddy (online) list
*/
.messenger .buddylist .content, .messenger-mobile .buddylist .content {
    color: #777777 !important;
}

/*
Advertising windows
*/

div[id^='nat-jhdc'] {
    box-shadow: var(--shadow)!important;
    background-color: var(--foreground-color)!important;
}
div[id^='nat-jhdc'] .natpl-title {
    color: white !important;
}
div[id^='nat-jhdc'] .natpl-teaser {
    color: white !important;
}


/*
Dropdowns
*/
.userdropdown,
.ui.floating.dropdown .menu,
.ui.dropdown .menu{
    box-shadow: var(--shadow)!important;
}

/*
Modals
*/
.ui.active.modal{
    border-radius: 6px!important;
}

.activitymodal > .header{
    background-color: var(--foreground-color)!important;
    color: white!important;
}
.activitymodal>.content{
    background-color: var(--back-color)!important;
    color: white!important
}

.ui.small.modal>.header:not(.ui),
.ui.modal>.actions,
.ui.modal > .header:not(.ui){
    background-color: var(--foreground-color) !important;
}
